<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Person</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
  <label for="name">Enter name:</label>
  <input type="text" th:field="*{name}" id="name"/>
  <br>
  <label for="name">Enter last name:</label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <br>
  <label for="name">Enter department:</label>
  <input type="text" th:field="*{department}" id="department"/>
  <br>
  <label for="name">Enter salary:</label>
  <input type="text" th:field="*{salary}" id="salary"/>
  <br>
  <label for="name">Enter username:</label>
  <input type="text" th:field="*{username}" id="username"/>
  <br>
  <label for="name">Enter password:</label>
  <input type="text" th:field="*{password}" id="password"/>
  <br>
<!--  <label for="name">Enter role:</label>-->
<!--  <input type="text" th:field="*{roles}" id="roles"/>-->
<!--  <br>-->
<!--  <label for="role">Enter role:</label>-->
<!--  <select name="role" id="role" multiple="multiple">-->
<!--    <option value="ROLE_USER">USER</option>-->
<!--    <option value="ROLE_ADMIN">ADMIN</option>-->
<!--  </select>-->

  <th:block th:each="role: ${rolesList}">
    <input type="checkbox" th:field="*{roles}"
           th:text="${role.name}" th:value="${role.id}" class="m-2"/>
  </th:block>
  <br>
  <input type="submit" value="Create!"/>
  <br>
</form>

</body>
</html>