<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

<!--Шапка страницы-->
<header>
    <div class="container-fluid" style="padding: 0">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                    <!-- Navbar content -->
                    <div class="collapse navbar-collapse" id="user">
                        <ul class="navbar-nav mr-auto">
                            <a class="navbar-brand font-weight-bold" th:text="${user.getUsername()}"></a>
                            <a class="navbar-brand">with roles: </a>
                            <a class="navbar-brand" th:text="${user.rolesToString()}"></a>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-right" href="/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<!--Основной контент страницы-->

<div class="container-fluid">
    <div class="row">

        <!--Панель слева-->

        <div class="col-2" style="padding: 0; padding-top: 15px">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#userPanel">User</a>
                </li>
            </ul>
        </div>

        <!--Панель справа-->

        <div class="col-10 bg-light">
            <div class="tab-content" style="padding-top: 15px; height: 100vh">

                <!--Панель пользователя-->

                <div class="tab-pane fade show active" id="userPanel">
                    <h2>User information-page</h2>
                    <div class="card">
                        <h5 class="card-header">About user</h5>
                        <div class="card-body text-center">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Department</th>
                                    <th>Salary</th>
                                    <th>Username</th>
                                    <th>Roles</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${user.getId()}">ID</td>
                                    <td th:text="${user.getName()}">First Name</td>
                                    <td th:text="${user.getLastName()}">Last Name</td>
                                    <td th:text="${user.getDepartment()}">Department</td>
                                    <td th:text="${user.getSalary()}">Email</td>
                                    <td th:text="${user.getUsername()}">Username</td>
                                    <td th:text="${user.getRoles()}">Roles</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>